@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>ToDO home page</h1>
<form method="post">

    @*<ul>
        @for (var i = 0; i < Model.ToDoTasks.Count; i++)
        {
            <li>
                <input type="checkbox" asp-for="@Model.ToDoTasks[i].TaskComplete" />
                <label asp-for="@Model.ToDoTasks[i].TaskComplete">@Model.ToDoTasks[i].Task</label>
                <input type="hidden" asp-for="@Model.ToDoTasks[i].Id" />
                <input type="hidden" asp-for="@Model.ToDoTasks[i]Task." />
            </li>
        }
    </ul>*@

    <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Task To Do</th>
                    <th>Er opgaven udført?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Task in Model.ToDoTasks)
                {
                    <tr>
                        <td> @Task.Id</td>
                        <td>@Task.Task</td>
                        <td>
                            <input type="checkbox" data-val="true" data-val-required="The IsChecked field is required." id="IsChecked" name="IsChecked" value="true">
                            <input name="IsChecked" type="hidden" value="false">
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@Task.Id">Edit</a> |
                            <button type="submit" asp-page-handler="delete"
                                    asp-route-id="@Task.Id">
                                delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-page="Create">Create New Task</a>
</form>